.responsive-banner img {
  width: 100%;
  height: auto;
}
.container-qa{
  padding: 2.5% 10%;

  hr{
    margin: 48px 0px;
    color: #838D52;
  }
}
.title{
  font-size: 30px;
  color: #838D52;
  font-weight: 900;
  padding: 0px 2px;
}
.text{
  font-size: 26px;
  Text-align:justify
}
.sub-title{
  margin-bottom: 20px;
}
.mb-text{
  margin-bottom: 60px;
}

@media (max-width: 1280px) {
  .title{
    font-size: 24px;
  }
  .container-qa{
    hr{
      margin: 32px 0px;
    }
  }
  .text{
    font-size: 18px;
  }
  .mb-text{
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .title{
    font-size: 18px;
  }
  .container-qa{
    hr{
      margin: 25px 0px;
    }
  }
  .text{
    font-size: 15px;
  }

  .mb-text{
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .title{
    font-size: 14px;
  }
  .container-qa{
    hr{
      margin: 19px 0px;
    }
  }
  .text{
    font-size: 11px;
  }
  .sub-title{
    margin-bottom: 15px;
  }
  .mb-text{
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .title{
    font-size: 16px;
    margin: 12px 0px;
  }
  .container-qa{
    hr{
      margin: 12px 0px;
    }
  }
  .text{
    font-size: 12px;
  }
  .sub-title{
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .title{
    font-size: 16px;
  }
  .container-qa{
    padding: 4% 5%;
    hr{
      margin: 12px 0px;
    }
  }
  .text{
    font-size: 12px;
  }
  .mb-text-bottom{
    margin-bottom: 12px;
  }
}

@media (max-width: 390px) {
  .title{
    font-size: 14px;
  }
  .container-qa{
    padding: 3% 5%;
    hr{
      margin: 8px 0px;
    }
  }
  .mb-text-bottom{
    margin-bottom: 10px;
  }
}
