<div class="content mx-auto">
  <div class="banner responsive-banner w-full">
    <img src="{{QaBannerImgSrc}}" alt="qa banner">
  </div>
  <div class="container-qa w-full"> <!-- 確保容器寬度足夠 -->
    <div class="qa-text flex justify-between items-center">
      <p class="title">訂購相關 Ordering</p>
      <img src="{{QaArrowBottomImgSrc}}" alt="arrow-bottom">
    </div>
    <hr>
    <div class="qa-text flex justify-between items-center">
      <p class="title">包裝相關 Packaging</p>
      <img src="{{QaArrowBottomImgSrc}}" alt="arrow-bottom">
    </div>
    <hr>
    <div class="qa-text flex justify-between items-center">
      <p class="title">退貨相關 Return</p>
      <img src="{{QaArrowBottomImgSrc}}" alt="arrow-bottom">
    </div>
    <hr>
    <div class="qa-text flex justify-between items-center">
      <p class="title">廢布相關 Fabric</p>
      <img src="{{QaArrowBottomImgSrc}}" alt="arrow-bottom">
    </div>
  </div>
</div>
