<div class="content mx-auto hidden md:block">
  <div class="banner responsive-banner w-full">
    <img src="../../../../assets/images/about/story/1920-about-banner-story.png" alt="banner-1">
  </div>
  <div class="container-title">
    <div class="flex justify-center space-x-4">
      <button class="title-btn minimalist-btn" >品牌故事</button>
      <button class="title-btn designer-btn right-ml-btn ">製作團隊</button>
      <button class="title-btn designer-btn right-ml-btn ">花布特色</button>
    </div>
  </div>
  <hr class="my-4">
  <div class="container-body">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-1"></div>
      <div class="col-span-5 img-box">
        <img src="../../../assets/images/about/story/1920-about-top-img.png" alt="Image 1" class="w-full">
      </div>
      <div class="col-span-5 text-box ">
        <h2 class="text-lg font-bold title">Rebloom Studio 的創立 Our Goal</h2>
        <p>我們不僅是以「回收布料」串聯美好回憶的花藝品牌，更是串聯美好回憶的裁縫師。我們利用布料易保留氣味的特性，將你的衣物轉化為為一朵朵外型飽滿、可愛的花藝品，讓每朵花都如同醞釀許久的情感般，澎湃、濃厚且美好，非常適合做送給為家人、情人、寵物的禮品。</p>
      </div>
      <div class="col-span-1"></div>

      <div class="col-span-1"></div>
      <div class="col-span-5 text-box">
        <h2 class="text-lg font-bold title">“為重要的他挑選一束花吧！” Our Spirit</h2>
        <p>你是否曾經摸著一塊布料，心中湧現出滿溢的溫馨回憶？那塊布可能來自你最親密之人，或是家鄉的一絲風情。它像是一道窗，每一絲觸摸、每一次聞嗅，都帶領你回到過往的時光，讓你深深感受到愛的滋味。</p>
        <p>你有想過嗎？你手邊的衣物可以成為一份特別的花藝品。</p>
        <p>讓我們延續這塊布料的情感價值，將你心愛的衣物化作一份特別、能夠展示於家中的禮品，與他人分享這段美好的時光呢？這是愛的象徵，是記憶的綿延，是生活中最美好的一部分。</p>
      </div>
      <div class="col-span-5 img-box">
        <img src="../../../assets/images/about/story/1920-about-Bottom-img.png" alt="Image 2" class="w-full">
      </div>
      <div class="col-span-1"></div>
    </div>
  </div>
</div>
<div class="content mx-auto block md:hidden">
  <div class="banner responsive-banner w-full">
    <img src="../../../../assets/images/about/story/1920-about-banner-story.png" alt="banner-1">
  </div>
  <div class="container-title">
    <div class="flex justify-center space-x-4">
      <button class="title-btn minimalist-btn" >品牌故事</button>
      <button class="title-btn designer-btn right-ml-btn ">製作團隊</button>
      <button class="title-btn designer-btn right-ml-btn ">花布特色</button>
    </div>
  </div>
  <hr class="my-4">
  <div class="container-body">
    <div class="story">
      <h2 class="text-lg font-bold title">Rebloom Studio 的創立<br> Our Goal</h2>
      <img src="../../../assets/images/about/story/1920-about-top-img.png" alt="Image 1" class="w-full img-box">
      <p>我們不僅是以「回收布料」串聯美好回憶的花藝品牌，更是串聯美好回憶的裁縫師。我們利用布料易保留氣味的特性，將你的衣物轉化為為一朵朵外型飽滿、可愛的花藝品，讓每朵花都如同醞釀許久的情感般，澎湃、濃厚且美好，非常適合做送給為家人、情人、寵物的禮品。</p>
    </div>
    <div class="story">
      <h2 class="text-lg font-bold title">為重要的他挑選一束花吧！”<br> Our Spirit</h2>
      <img src="../../../assets/images/about/story/1920-about-Bottom-img.png" alt="Image 2" class="w-full img-box">
      <p>你是否曾經摸著一塊布料，心中湧現出滿溢的溫馨回憶？那塊布可能來自你最親密之人，或是家鄉的一絲風情。它像是一道窗，每一絲觸摸、每一次聞嗅，都帶領你回到過往的時光，讓你深深感受到愛的滋味。</p>
      <p>你有想過嗎？你手邊的衣物可以成為一份特別的花藝品。</p>
      <p>讓我們延續這塊布料的情感價值，將你心愛的衣物化作一份特別、能夠展示於家中的禮品，與他人分享這段美好的時光呢？這是愛的象徵，是記憶的綿延，是生活中最美好的一部分。</p>
    </div>
  </div>
  <div class="container-footer flex justify-center">
    <button class="btn rounded-full font-bold hover:bg-[#6f7a4f] transition-colors">查看ReBloom的製作團隊 >>></button>
  </div>
</div>
