<div [ngClass]="{'container-header': true, 'fixed-header': isMenuOpen}" class="bg-green-100 px-8 py-4 flex items-center justify-between">
  <div class="header-logo">
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img src={{HeaderLogoImgSrc}} alt="Bloom Logo">
    </a>
  </div>
  <div class="flex items-center flex-grow">
    <nav class="ml-auto hidden md:block">
      <ul class="flex gap-x-8">
        <li><a [routerLink]="['/about-story']" routerLinkActive="active" class="link">關於ReBloom</a></li>
        <li><a href="#" class="link">布花圖鑑</a></li>
        <li><a [routerLink]="['/', STATIC_ROUTES.Order,'designer']" routerLinkActive="active" class="link">訂購專屬花束</a></li>
        <li><a [routerLink]="['/', STATIC_ROUTES.QA]" routerLinkActive="active" class="link">Q & A</a></li>
      </ul>
    </nav>
    <img class="ml-9 hidden md:block" src="../../../assets/images/layouts/ig.png" alt="Instagram">
  </div>
  <div class="hamburger block md:hidden" (click)="toggleMenu()">
    <img class="hamburger" [src]="isMenuOpen ? HeadercloseHamburgerImgSrc : HeaderHamburgerImgSrc" alt="header-hamburger">
  </div>
</div>

<div *ngIf="isMenuOpen" class="full-screen-menu">
  <ul class="menu-list">
    <li><span class="menu-heading">| 關於ReBloom |</span></li>
    <li><a [routerLink]="['/about-story']" routerLinkActive="active" (click)="navigateAndCloseMenu()">品牌故事</a></li>
    <li><a [routerLink]="['/team']" routerLinkActive="active" (click)="navigateAndCloseMenu()">製作團隊</a></li>
    <li><a [routerLink]="['/flower-features']" routerLinkActive="active" (click)="navigateAndCloseMenu()">布花特色</a></li>
    <li><span class="menu-heading">| 布花圖鑑 |</span></li>
    <li><a [routerLink]="['/small-flowers']" routerLinkActive="active" (click)="navigateAndCloseMenu()">小花區</a></li>
    <li><a [routerLink]="['/add-ons']" routerLinkActive="active" (click)="navigateAndCloseMenu()">加購區</a></li>
    <li><span class="menu-heading">| 訂購專屬花束 |</span></li>
    <li><a [routerLink]="['/', STATIC_ROUTES.Order,'designer']" routerLinkActive="active" (click)="navigateAndCloseMenu()">設計師款</a></li>
    <li><a [routerLink]="['/', STATIC_ROUTES.Order,'minimalist']" routerLinkActive="active" (click)="navigateAndCloseMenu()">客製款</a></li>
    <li><span class="menu-heading">| Q & A |</span></li>
    <li><a [routerLink]="['/', STATIC_ROUTES.QA]" routerLinkActive="active" (click)="navigateAndCloseMenu()">常見問題</a></li>
  </ul>
</div>
