
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 80px;
  position: relative; /* 原始樣式 */
  z-index: 1001; /* 確保header在頂層 */

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;

    li {
      &:not(:first-child) {
        padding-left: 30px;
      }
      a {
        color: #838D52;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        transition: color 0.3s;

        &:hover {
          color: #38a169;
        }
      }
    }
  }

  nav {
    border: 1px solid #838D52;
    border-radius: 100px 100px 100px 0;
    padding: 14px 40px;
    max-width: 576px; // 確保 nav 寬度固定
    margin-left: auto; // 將 nav 推至最右側
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001; /* 確保header在頂層 */
  background-color: #fff;
}


.header-logo{
  img {
    width: 144px;
    height: 40px;
  }
}

.hamburger{
  img{
    width: 87px;
    height: 87px;
  }
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 80px;
  z-index: 999; /* 確保header在頂層 */
}

.full-screen-menu {
  position: fixed;
  top: 75px; /* 與header高度一致 */
  left: 0;
  width: 100%;
  height: calc(100% - 75px); /* 減去header高度 */
  background-color: white;
  z-index: 1000; /* 確保菜單在header下面 */
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: center;
  padding-top: 20px; /* 添加一些內邊距讓內容不要緊貼頂部 */
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  // line-height: 1.5;
  width: 100%; /* 使列表寬度為滿版 */
}

.menu-list li {
  margin: 10px 0;
}

.menu-list a,
.menu-list span.menu-heading {
  color: #838D52;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  font-size: 27px;
  display: block; /* 使元素顯示為塊級元素 */
  padding: 10px 20px;
  border-radius: 50px; /* 初始邊角 */
  box-sizing: border-box; /* 確保寬度計算包括內邊距 */
}

.menu-list a:hover {
  border: 1px solid #838D52;
  border-radius: 50px; /* 圓角長邊 */
}

.menu-list a:active,
.menu-list a.active {
  background-color: #838D52;
  color: white;
}

.menu-list span.menu-heading {
  font-size: 32px;
  font-weight: bold;
}


@media (max-width: 1140px) {
  .container-header ul li:not(:first-child) {
    padding-left: 20px;
  }
}

@media (max-width: 1080px) {
  .container-header ul li:not(:first-child) {
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .container-header{
    padding: 1rem 1rem;
    margin-bottom: 5px;
  }
  .header-logo{
    img {
      max-width: 231px;
      max-height: 59px;
    }
  }

  .hamburger{
    img{
      max-height: 87px;
      max-width: 87px;
    }
  }
}

@media (max-width: 600px) {
  .full-screen-menu {
    top: 80px; /* 與header高度一致 */
    height: calc(100% - 80px); /* 減去header高度 */
  }
  .container-header{
    margin-bottom: 0px;
  }
  .header-logo{
    img {
      max-width: 181px;
      max-height: 47px;
    }
  }

  .hamburger{
    img{
      max-height: 69px;
      max-width: 69px;
    }
  }
}

@media (max-width: 500px) {
  .header-logo{
    img {
      max-width: 151px;
      max-height: 39px;
    }
  }

  .hamburger{
    img{
      max-height: 57px;
      max-width: 57px;
    }
  }
}

@media (max-width: 430px) {
  .full-screen-menu {
    top: 54px; /* 與header高度一致 */
    height: calc(100% - 54px); /* 減去header高度 */
  }
  .container-header {
    height: 54px;
  }
  .hamburger{
    img{
      max-height: 49px;
      max-width: 49px;
    }
  }
}

@media (max-width: 400px) {
  .container-header{
    padding: 0.5rem 0.5rem;
  }
  .header-logo{
    img {
      max-width: 121px;
      max-height: 32px;
    }
  }

  .hamburger{
    img{
      max-height: 46px;
      max-width: 46px;
    }
  }
}

@media (max-width: 390px) {
  .full-screen-menu {
    top: 44px; /* 與header高度一致 */
    height: calc(100% - 44px); /* 減去header高度 */
  }
  .container-header {
    height: 44px;
  }
  .hamburger{
    img{
      max-height: 44px;
      max-width: 44px;
    }
  }
}
