<div class="content mx-auto hidden md:block">
  <div class="banner responsive-banner w-full">
    <img src="../../../../assets/images/about/1920-about-banner.png" alt="banner-1">
  </div>
  <div class="container-title">
    <div class="flex justify-center space-x-4">
      <button [routerLink]="['/about-story']" class="title-btn designer-btn" >品牌故事</button>
      <button [routerLink]="['/about-teams']" class="title-btn designer-btn right-ml-btn ">製作團隊</button>
      <button [routerLink]="['/about-feature']" class="title-btn minimalist-btn right-ml-btn ">布花特色</button>
    </div>
  </div>
  <hr class="my-4">
  <div class="container-body">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12">
        <h2 class="font-bold">布花特色 Product Features</h2>
      </div>
      <div class="col-span-4 item-box">
          <h2>01</h2>
          <div class="sub-title">環保花藝</div>
          <div class="text">
            <p>我們將環保意識融入生活，將情感與環保理念融合成獨特的花藝品。</p>
            <p>所有花藝品皆以回收布料製成，不僅賦予每朵花獨特的風格，更解決鮮花花藝所帶來的環境危害。</p>
          </div>
      </div>
      <div class="col-span-4 item-box">
        <h2>02</h2>
        <div class="sub-title">故事性</div>
        <div class="text">
          <p>提供客製化訂製服務，由您賦予每朵花獨特的情感與意義。</p>
          <p>歡迎以家人/情人/寵物的衣物訂製，我們將花藝結合環保與情感，讓花不僅是具紀念意義的擺飾品，更是您重視環境永續的象徵。</p>
        </div>
      </div>
      <div class="col-span-4 item-box">
        <h2>03</h2>
        <div class="sub-title">回憶具體化</div>
        <div class="text">
          <p>將您的回憶串聯成兼具嗅覺、視覺、觸覺感受的花藝品。</p>
          <p>每朵花皆由您珍愛的衣物製成，保留衣物的特色、轉化為外型飽滿的花藝品，讓每朵花都如同醞釀許久的情感般，澎湃、濃厚且美好。</p>
        </div>
      </div>
      <div class="col-span-12 item-box-bottom">
        <h2>04</h2>
        <div class="sub-title">情感寄託</div>
        <div class="text-bottom">布花具有「易留住氣味」的特性，非常適合作為禮品，贈送給心愛的人或寵物。</div>
        <img src="../../../assets/images/about/feature/1920-about-fature-img.png" alt="Image 1" class="w-full">
      </div>
    </div>
  </div>
</div>
<div class="content mx-auto block md:hidden">
  <div class="banner responsive-banner w-full">
    <img src="../../../../assets/images/about/768-about-banner.png" alt="banner-1">
  </div>
  <div class="container-title">
    <div class="flex justify-center space-x-4">
      <button [routerLink]="['/about-story']" class="title-btn designer-btn" >品牌故事</button>
      <button [routerLink]="['/about-teams']" class="title-btn designer-btn right-ml-btn ">製作團隊</button>
      <button [routerLink]="['/about-feature']" class="title-btn minimalist-btn right-ml-btn ">布花特色</button>
    </div>
  </div>
  <hr class="my-4">
  <div class="container-body">
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-4">
        <h2 class="font-bold title">布花特色 Product Features</h2>
      </div>
      <div class="col-span-4">
          <h2>01</h2>
      </div>
      <div class="col-span-4">
        <div class="sub-title">環保花藝</div>
      </div>
      <div class="col-span-4">
        <div class="text">
          <p>我們將環保意識融入生活，將情感與環保理念融合成獨特的花藝品。</p>
          <p>所有花藝品皆以回收布料製成，不僅賦予每朵花獨特的風格，更解決鮮花花藝所帶來的環境危害。</p>
        </div>
      </div>
      <div class="col-span-4">
        <h2>02</h2>
      </div>
      <div class="col-span-4">
        <div class="sub-title">故事性</div>
      </div>
      <div class="col-span-4">
        <div class="text">
          <p>提供客製化訂製服務，由您賦予每朵花獨特的情感與意義。</p>
          <p>歡迎以家人/情人/寵物的衣物訂製，我們將花藝結合環保與情感，讓花不僅是具紀念意義的擺飾品，更是您重視環境永續的象徵。</p>
        </div>
      </div>
      <div class="col-span-4">
        <h2>03</h2>
      </div>
      <div class="col-span-4">
        <div class="sub-title">回憶具體化</div>
      </div>
      <div class="col-span-4">
        <div class="text">
          <p>將您的回憶串聯成兼具嗅覺、視覺、觸覺感受的花藝品。</p>
          <p>每朵花皆由您珍愛的衣物製成，保留衣物的特色、轉化為外型飽滿的花藝品，讓每朵花都如同醞釀許久的情感般，澎湃、濃厚且美好。</p>
        </div>
      </div>
      <div class="col-span-4">
        <h2>04</h2>
      </div>
      <div class="col-span-4">
        <div class="sub-title">情感寄託</div>
      </div>
      <div class="col-span-4">
        <div class="text-bottom">布花具有「易留住氣味」的特性，非常適合作為禮品，贈送給心愛的人或寵物。</div>
        <img src="../../../assets/images/about/feature/768-about-fature-img.png" alt="Image 1" class="w-full">
      </div>
  </div>
</div>
