.responsive-banner img {
  width: 100%;
  height: auto;
}

.container-title{
  margin: 20px 0px;
}

.title-btn {
  border-radius: 35.56px;
  font-size: 28px;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  outline: none;
  margin: 5px 0px;

  &:focus {
    outline: none;
  }
}

.designer-btn{
  width: 200px;
  color: #838D52;
  border: 1px solid #838D52;
}

.minimalist-btn {
  width: 200px;
  border: none;
  background-color: #838D52;
  color: white;
}

.right-ml-btn{
  margin-left: 15%;
}

hr{
  color: #838D52;
  margin: 0px 3%;
}


.container-body{
  padding: 50px 5%;

  h2 {
    font-size: 37px;
    color: #838D52;
    font-weight: 900;
    text-align: center;
  }

  .item-box{
    padding: 35px 5% 0px 5%;
  }
  .item-box-bottom{
    padding: 0px 5% 35px 5%;
  }

  .sub-title {
    display: flex;  /* 使用 Flexbox */
    justify-content: center;  /* 水平居中 */
    align-items: center;  /* 垂直居中 */
    color: #838D52;
    font-size: 32px;
    font-weight: 900;
    border: 1px solid #838D52;
    border-radius: 50px; /* 圓角 */
    text-align: center;
    max-width: 266px;
    height: 70px;
    padding: 15px 20px;
    margin: 10px auto 0px auto;
  }

  .text{
    font-size: 22px;
    text-align: justify;
    line-height: 2;
    padding: 5%;
    p{
      margin-bottom: 10px;
    }
  }

  .text-bottom{
    font-size: 22px;
    text-align: center;
    padding: 1.75%;
    p{
      margin-bottom: 10px;
    }
  }

}


@media (max-width: 1280px) {
  .container-body{
    padding: 50px 5%;

    h2 {
      font-size: 25px;
    }

    .item-box{
      padding: 18px 5% 0px 5%;
    }


    .sub-title {
      font-size: 22px;
      max-width: 177px;
      height: 46px;
      padding: 15px 20px;
      margin: 10px auto 0px auto;
    }

    .text{
      font-size: 15px;
    }
    .text-bottom{
      font-size: 15px;
      padding: 1.6%;
    }
  }
}

@media (max-width: 1024px) {

  .title-btn {
    font-size: 17px;
    padding: 0.25rem 1rem;
    width: 108px;
  }
  .container-body{
    padding: 25px 5%;

    h2 {
      font-size: 20px;
    }

    .item-box{
      padding: 5px 5% 0px 5%;
    }

    .sub-title {
      font-size: 16px;
      max-width: 142px;
      height:36px;
      padding: 5px 10px;
    }

    .text{
      font-size: 15px;
      padding-bottom: 0px;
    }

    .text-bottom{
      font-size: 15px;
      padding: 1.6%;
    }
  }

}

@media (max-width: 768px) {

  .btn{
    width: 140px;
    font-size: 12px;
    padding: 4px 8px;
  }

  .container-body{
    padding: 18px 5%;

    h2 {
      font-size: 16px;
    }

    .item-box{
      padding: 0px 5% 0px 5%;
    }

    .sub-title {
      font-size: 16px;
      max-width: 125px;
      height:30px;
      padding: 5px 10px;
    }

    .text{
      font-size: 12px;
      padding-bottom: 0px;
      line-height: 1.75;
    }

    .text-bottom{
      font-size: 12px;
      padding: 1.6%;
    }

    .item-box-bottom{
      padding: 0px 5% 30px 5%;
    }
  }
  .gap-4 {
    gap: 0.5rem;
  }


}

@media (max-width: 767px) {
  .container-title{
    margin: 20px 0px;
  }

  .title-btn {
    font-size: 30px;
    width: 190px;
  }
  .right-ml-btn{
    margin-left: 8%;
  }

  hr{
    margin: 0px 5%;
  }

  .container-body{
    padding: 30px 5%;

    h2 {
      font-size: 32px;
    }
    .title{
      padding: 0 11px;
      text-align: left;
      margin-bottom: 15px;
    }
    .sub-title {
      font-size: 28px;
      max-width: 236px;
      height:62px;
      padding: 5px 10px;
      margin-top: 0px;
    }
    .text{
      font-size: 24px;
      padding-bottom: 0px;
      line-height: 1.75;
      text-align: justify;
      padding: 1.6%;
      p{
        margin-bottom: 0px;
      }
    }
    .text-bottom{
      font-size: 24px;
      line-height: 1.75;
      text-align: justify;
    }
  }
}

@media (max-width: 430px) {
  .container-title{
    margin: 13px 0px;
  }

  .title-btn {
    font-size: 18px;
    width: 110px;
  }
  .right-ml-btn{
    margin-left: 8%;
  }
  .container-body{
    padding: 22px 5%;

    h2 {
      font-size: 18px;
    }
    .title{
      padding: 0 11px;
      margin-bottom: 7px;
    }
    .sub-title {
      font-size: 18px;
      max-width: 132px;
      height:35px;
      padding: 5px 10px;
    }
    .text{
      font-size: 14px;
      padding-bottom: 0px;
      line-height: 1.75;
      text-align: justify;
      padding-bottom: 4%;
      p{
        margin-bottom: 0px;
      }
    }
    .text-bottom{
      font-size: 14px;
    }
  }
}

@media (max-width: 390px) {
  .container-title{
    margin: 10px 0px;
  }

  .title-btn {
    font-size: 14px;
    width: 100px;
  }
  .right-ml-btn{
    margin-left: 5%;
  }

  .container-body{
    padding: 16px 5%;

    h2 {
      font-size: 16px;
    }
    .title{
      margin-bottom: 2px;
    }
    .sub-title {
      font-size: 16px;
      max-width: 120px;
      height:32px;
      padding: 5px 10px;
    }
    .text{
      font-size: 12px;
      line-height: 1.5;
    }
    .text-bottom{
      font-size: 12px;
      line-height: 1.5;
    }
  }
}
