<div class="content mx-auto hidden md:block">
  <div class="banner responsive-banner w-full">
    <img src="../../../../assets/images/products/1920-products-banner.png" alt="banner">
  </div>
  <div class="container-title">
    <div class="flex justify-center space-x-4">
      <button class="title-btn" [ngClass]="{'designer-btn': activeStyle === 'additional', 'minimalist-btn': activeStyle === 'flowers'}" (click)="setActiveStyle('flowers')">小花區</button>
      <button class="title-btn right-ml-btn" [ngClass]="{'minimalist-btn': activeStyle === 'additional', 'designer-btn': activeStyle === 'flowers'}" (click)="setActiveStyle('additional')">加購區</button>
    </div>
  </div>
  <hr class="my-4">
  <div *ngIf="activeStyle === 'flowers'">
    <div class="container-top-content flex items-center justify-center h-full">
      <img src="../../../../assets/images/products/1920-products-img-1.png" alt="banner-1" class="max-h-full">
    </div>
    <div class="flex justify-end">
      <button class="btn rounded-full font-bold hover:bg-[#6f7a4f] transition-colors">訂購專屬花束 >>></button>
    </div>
  </div>
  <div *ngIf="activeStyle === 'additional'">
    <div class="container-top-content flex items-center justify-center h-full">
      <img src="../../../../assets/images/products/1920-products-img-2.png" alt="banner-1" class="max-h-full">
    </div>
    <div class="flex justify-end">
      <button class="btn rounded-full font-bold hover:bg-[#6f7a4f] transition-colors">訂購專屬花束 >>></button>
    </div>
  </div>
</div>
<div *ngIf="activeStyle === 'flowers'">
  <div class="content mx-auto block md:hidden">
    <div class="banner responsive-banner w-full">
      <img src="../../../../assets/images/products/768-products-banner.png" alt="banner">
    </div>
    <div class="title-btn flex justify-center space-x-4">
      <button class="title-btn minimalist-btn" (click)="setActiveStyle('flowers')">設計師款</button>
      <button class="title-btn designer-btn right-ml-btn" (click)="setActiveStyle('additional')">客製款</button>
    </div>
    <hr class="my-4">
    <div class="container-top-content flex items-center justify-center h-full">
      <img src="../../../../assets/images/products/768-products-img-1.png" alt="banner-1" class="max-h-full">
    </div>
    <div class="flex justify-end">
      <button class="btn rounded-full font-bold hover:bg-[#6f7a4f] transition-colors">訂購專屬花束 >>></button>
    </div>
  </div>
</div>

<div *ngIf="activeStyle === 'additional'">
  <div class="content mx-auto block md:hidden">
    <div class="banner responsive-banner w-full">
      <img src="../../../../assets/images/products/768-products-banner.png" alt="banner-1">
    </div>
    <div class="title-btn flex justify-center space-x-4">
      <button class="title-btn designer-btn" (click)="setActiveStyle('flowers')">小花區</button>
      <button class="title-btn minimalist-btn right-ml-btn" (click)="setActiveStyle('additional')">加購區</button>
    </div>
    <hr class="my-4">
    <div class="container-top-content flex items-center justify-center h-full">
      <img src="../../../../assets/images/products/768-products-img-2.png" alt="banner-1" class="max-h-full">
    </div>
    <div class="flex justify-end">
      <button class="btn rounded-full font-bold hover:bg-[#6f7a4f] transition-colors">訂購專屬花束 >>></button>
    </div>
  </div>
</div>

