.responsive-banner img {
  width: 100%;
  height: auto;
}

.container-title{
  margin: 20px 0px;
}

.title-btn {
  border-radius: 35.56px;
  font-size: 28px;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  outline: none;
  margin: 5px 0px;

  &:focus {
    outline: none;
  }
}

.designer-btn{
  width: 200px;
  color: #838D52;
  border: 1px solid #838D52;
}

.minimalist-btn {
  width: 200px;
  border: none;
  background-color: #838D52;
  color: white;
}

.right-ml-btn{
  margin-left: 15%;
}

hr{
  color: #838D52;
  margin: 0px 3%;
}

.container-body{
  padding: 50px 0%;
  h2 {
    font-size: 37px;
    color: #838D52;
    font-weight: 900;
  }
  .title {
    text-align: center;
    margin-bottom: 25px; /* 設定標題和內文之間的距離 */
  }
  .img-mid{
    margin: 15px 0px;
  }
  .img-bottom{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1280px) {
  .container-body{
    padding: 20px 0%;

    h2 {
      font-size: 25px;
    }

    .title {
      margin-bottom: 10px; /* 設定標題和內文之間的距離 */
    }
  }
}

@media (max-width: 1024px) {

  .title-btn {
    font-size: 17px;
    padding: 0.25rem 1rem;
    width: 108px;
  }

  .container-body{
    padding: 15px 0%;

    h2 {
      font-size: 20px;
    }

    .img-mid{
      margin: 10px 0px;
    }

    .title {
      margin-bottom: 10px; /* 設定標題和內文之間的距離 */
    }

    .img-bottom{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {

  .btn{
    width: 140px;
    font-size: 12px;
    padding: 4px 8px;
  }

  .container-body{

    h2 {
      font-size: 15px;
    }

    .img-mid{
      margin: 5px 0px;
    }

    .title {
      margin-bottom: 10px; /* 設定標題和內文之間的距離 */
    }

    .img-bottom{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 767px) {
  .container-title{
    margin: 20px 0px;
  }

  .title-btn {
    font-size: 30px;
    width: 190px;
  }
  .right-ml-btn{
    margin-left: 8%;
  }

  hr{
    margin: 0px 5%;
  }

  .container-body{

    padding: 0px 5%;
    margin-top: 20px;

    .title{
      text-align: left;
    }

    h2 {
      font-size: 32px;
    }

    .img-mid{
      padding: 0px 5px;
    }

    .img-bottom{
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 430px) {
  .container-title{
    margin: 13px 0px;
  }
  .title-btn {
    font-size: 18px;
    width: 110px;
  }
  .right-ml-btn{
    margin-left: 8%;
  }

  .container-body{
    margin-top: 15px;

    h2 {
      font-size: 18px;
    }

    .img-mid{
      padding: 0px 2px;
    }

    .img-bottom{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 390px) {
  .container-title{
    margin: 10px 0px;
  }

  .title-btn {
    font-size: 14px;
    width: 100px;
  }
  .right-ml-btn{
    margin-left: 5%;
  }

  .container-body{
    margin-top: 10px;
    h2 {
      font-size: 16px;
    }

    .img-mid{
      padding: 0px 1px;
    }

    .img-bottom{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
