// 假設你需要自定義的額外樣式，可以在這裡寫
.text, .content {
  @apply text-sm lg:text-base; // Responsive font size
}
.text-border-bottom{
  border-bottom: 0.5px solid #838D52 ;
}
.web-text-box{
  font-size: 20pt;
  line-height: 28pt;
}
.mb-text{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 12pt;
  line-height: 20pt;
}
.mb-text-box{
  padding: 1rem;
}

@media (max-width: 1024px) {
  .web-text-box{
    font-size: 18pt;
    line-height: 24pt;
  }
}

/* 响应式设计 */
@media (max-width: 900px) {
  .web-text-box{
    font-size: 16pt;
    line-height: 22pt;
  }
}

@media (max-width: 800px) {
  .web-text-box{
    font-size: 12pt;
    line-height: 18pt;
  }
}

@media (max-width: 700px) {
  .mb-text{
    font-size: 12pt;
    line-height: 16pt;
  }
}

@media (max-width: 600px) {
  .mb-text{
    font-size: 10pt;
    line-height: 14pt;
  }
}

@media (max-width: 550px) {
  .mb-text-box{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

@media (max-width: 500px) {
  .mb-text{
    font-size: 8pt;
    line-height: 12pt;
  }
}

@media (max-width: 450px) {
  .mb-text{
    line-height: 10pt;
  }
}

@media (max-width: 400px) {
  .mb-text{
    font-size: 7pt;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
