<div class="content max-w-screen-xl mx-auto px-5">
  <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-6 gap-4">
      <!-- Combined Text and Left Image Section -->
      <div class="lg:col-span-6 md:col-span-3 xl:mt-0 lg:mt-4 md:mt-7 hidden md:block">
        <img src="../../../assets/images/home/web-top-left-img.png" alt="Combined Text and Left Image">
      </div>

      <!-- Combined Top and Right Image Section -->
      <div class="lg:col-span-6 md:col-span-3 hidden md:block">
        <img src="../../../assets/images/home/web-top-right-img.png" alt="Combined Top and Right Image">
      </div>

      <!-- Content Section -->
      <div class="lg:col-span-6 md:col-span-3 text-center hidden md:block">
          <div class="web-text-box p-4 text-darkGray rounded-lg mt-[20px] font-normal">
            <div class="py-2 text-border-bottom"><p>✺ 校外展 ✺ 新一代設計展<br/>時間｜5/24~5/27 10:00-17:00<br/>地點｜南港展覽館2館1樓 C-02</p></div>
            <div class="py-2 text-border-bottom"><p>| INSTAGRAM POST |<br/>以愛與回憶 織成的花藝品</p></div>
            <div class="py-2 text-border-bottom"><p> | INSTAGRAM POST |<br/>贈花文化</p></div>
            <div class="py-2"><p> | INSTAGRAM POST |<br/>LOGO介紹</p></div>
          </div>
      </div>

      <!-- Bottom Image -->
      <div class="lg:col-span-6 md:col-span-3 justify-end items-start mt-[20px] hidden md:block">
        <img src="../../../assets/images/home/web-bottom-img.png" alt="Bottom Flower Image">
      </div>

      <!-- 手機專用部分 -->
      <div class="block md:hidden">
        <!-- Combined Text and Left Image Section -->
        <div class="sm:col-span-12">
          <img src={{HomeTopImgSrc}} alt="Combined Text and Left Image">
        </div>

        <!-- Content and Image in one line -->
        <div class="sm:col-span-12 flex flex-row justify-between items-start mt-[20px]">
          <div class="flex-1 text-center">
            <div class="mb-text-box text-darkGray rounded-lg font-normal">
              <div class="text-border-bottom mb-text"><p>✺ 校外展 ✺ 新一代設計展<br/>時間｜5/24~5/27 10:00-17:00<br/>地點｜南港展覽館2館1樓 C-02</p></div>
              <div class="text-border-bottom mb-text"><p> | INSTAGRAM POST |<br/>贈花文化</p></div>
              <div class="text-border-bottom mb-text"><p>| INSTAGRAM POST |<br/>以愛與回憶 織成的花藝品</p></div>
              <div class="mb-text"><p> | INSTAGRAM POST |<br/>LOGO介紹</p></div>
            </div>
          </div>
          <div class="flex-1 flex justify-end items-start">
            <img src={{HomeBottomImgSrc}} alt="Bottom Flower Image">
          </div>
        </div>
      </div>
  </div>
</div>
