<div class="content text-grayWhite px-4 footer-h">
  <div class="container-footer max-w-7xl mx-auto flex flex-row justify-between items-end h-full ">
    <div class="flex-1 flex flex-col items-start  space-y-1">
      <p class="font-bold text-al hidden md:block">CONTACT</p>
      <p>reblonmstudio111&#64;gmail.com</p>
    </div>
    <div class="flex-1 flex justify-center items-center">
      <img src="../../../assets/images/layouts/footer-logo.png" alt="Bottom Flower Image" class="h-auto max-h-12">
    </div>
    <div class="flex-1 flex justify-end items-center">
      <p>ReBloom © 2024 All Rights Reserved</p>
    </div>
  </div>
</div>

