.content{
  background-image: url('../../../assets/images/layouts/footer-bgi.png'); /* 更换为您的实际图片路径 */
  background-position: bottom; /* 确保图片从底部开始 */
  // background-size: cover; /* 覆盖整个元素 */
}
.container-footer{
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 2rem;
}

.footer-h{
  min-height: 139px;
}

@media (max-width: 768px) {
  .container-footer{
    font-size: 0.7rem;
    line-height: 1rem;
    margin-top: 1.5rem;
  }
  .footer-h{
    min-height: 133px;
  }
}

@media (max-width: 600px) {
  .container-footer{
    font-size: 0.6rem;
    line-height: 0.85rem;
    margin-top: 1rem;
  }
  .footer-h{
    min-height: 104px;
  }
}

@media (max-width: 500px) {
  .container-footer{
    font-size: 0.5rem;
    line-height: 0.5rem;
    margin-top: 0.85rem;
  }
  .footer-h{
    min-height: 87px;
  }
}

@media (max-width: 400px) {
  .container-footer{
    font-size: 0.4rem;
    line-height: 0.25rem;
    margin-top: 0.5rem;
  }
  .footer-h{
    min-height: 69px;
  }
}
