<div class="content mx-auto ">
  <div class="container-banner md:px-28 px-0">
  </div>
  <div class="banner responsive-banner w-full">
    <img src="../../../../assets/images/order/1920-order-banner-1.png" alt="banner-1">
  </div>
  <div class="title-btn flex justify-center space-x-4">
    <button class="title-btn designer-btn">設計師款</button>
    <button class="title-btn minimalist-btn">客製款</button>
  </div>
  <hr class="my-4">
  <div class="container-top-content flex items-center justify-center h-full">
    <img src="../../../../assets/images/order/1920-order-top-img-1.png" alt="banner-1" class="max-h-full">
  </div>
  <div class="container-mid-content flex items-center justify-center h-full">
    <img src="../../../../assets/images/order/1920-order-mid-img-1.png" alt="banner-1" class="max-h-full">
  </div>
  <div class="container-bottom-content">
    <div class="leading-relaxed space-y-4">
      <p class="title mb-4">設計師款 Designer Style Notice</p>
      <div class="text">
        <p>1 設計師款採認領製，下單前可以到我們的限時動態看看有沒有喜歡的花色，也可以私訊要細節圖！</p>
        <p>2 設計師款的布料來源為實踐大學服裝設計學系製作衣服所剩的乾淨廢棄布料，環保至上～～</p>
        <p>3 運費為60元 限711出貨！</p>
        <p>4 商品皆附包裝紙＋牛奶棉的基本包裝，也可另外加購升級成束口袋！</p>
        <p>5 每件商品我們都會用心製作，但手作商品無法100％無瑕疵，完美主義者請三思！</p>
        </div>
      <button class="btn rounded-full font-bold hover:bg-[#6f7a4f] transition-colors">下單設計師款 >>></button>
    </div>
  </div>
</div>
