
<div class="mx-auto md:px-28 px-0">
  <div class="mt-12">
    <div class="flex flex-col md:flex-row md:items-start space-y-4 md:space-y-0 md:space-x-6">
      <!-- 图片展示区域 -->
      <div class="w-452 h-452 mr-32">
        <img src="../../../../assets/images/order-img-01.png" alt="Floral Design" class="w-full h-full object-cover rounded-lg shadow-lg">
      </div>
      <!-- 文字描述区域 -->
      <div class="flex-1 flex flex-col justify-between">
        <div>
          <div class="text-2xl font-bold ">客製款 Customized Style</div>
          <p class="mt-8 leading-8 text-lg text-justify">
            我們重新定義廢棄布料與花店之間的關係，以實踐環境友善的廢棄布料設計了海芋、小樹苗、小蒼蘭、桔梗花、鬱金香、康乃馨、玫瑰花、向日葵、小雛菊九種花束款式，讓您在選購禮品時，多一個環保的選擇！同時透過廢棄布料的使用，減少垃圾產出，降低對地球生態的負擔，將永續概念融入生活的魅力傳遞給大眾。
          </p>
        </div>
        <!-- 辅助图片列表 -->
        <div class="flex justify-start items-end space-x-6 md:mt-16 mt-6">
          <img src="../../../../assets/images/order-img-02.png" alt="Sub Image 1" class="w-171 h-171 object-cover">
          <img src="../../../../assets/images/order-img-03.png" alt="Sub Image 2" class="w-171 h-171 object-cover">
          <img src="../../../../assets/images/order-img-01.png" alt="Sub Image 3" class="w-171 h-171 object-cover">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20">
    <!-- 标题和描述区域 -->
    <div class="text-center mb-4 md:mb-0 md:text-left">
      <h2 class="text-2xl font-bold">客製款 下單流程 Customized Style Ordering Process</h2>
      <p class="leading-4 text-xs text-justify">
        *設計師款採認領製，下單前可以到我們的限時動態看看有沒有喜歡的花色，也可以私訊要細節圖！
      </p>
    </div>
    <!-- 生产过程图示区域 -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-4">
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-04.png" alt="原材料" class="w-214 h-315 md:w-214 md:h-315 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-08.png" alt="箭頭1" class="w-20 h-100 md:w-20 md:h-100 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-05.png" alt="設計過程" class="w-258 h-370 md:w-258 md:h-370 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-09.png" alt="箭頭2" class="w-20 h-100 md:w-20 md:h-100 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-06.png" alt="裁剪" class="w-289 h-415 md:w-289 md:h-415 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-10.png" alt="箭頭3" class="w-20 h-100 md:w-20 md:h-100 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-07.png" alt="完成" class="w-177 h-315 md:w-177 md:h-315 object-cover">
      </div>
    </div>
  </div>
  <div class="mt-12">
    <div class="font-bold text-2xl">
      設計師款 購買須知 Designer Style Notice
    </div>
    <ul class="list-decimal list-inside space-y-2 text-lg leading-8 my-6">
      <li>¹ 設計師款採認領製，下單前可以到我們的限時動態看看有沒有喜歡的花色，也可以私訊要細節圖！</li>
      <li>² 設計師款的布料來源為實踐大學服裝設計學系製作衣服所剩的乾淨廢棄布料，環保至上～～</li>
      <li>³ 運費為60元 限711出貨！</li>
      <li>⁴ 商品皆附包裝紙＋牛奶棉的基本包裝，也可另外加購升級成束口袋！</li>
      <li>⁵ 每件商品我們都會用心製作，但手作商品無法100％無瑕疵，完美主義者請三思！</li>
    </ul>
    <div class="mt-4 flex justify-left items-center">
      <button class="text-lg bg-[#838d52] px-4 py-2 rounded-2xl hover:bg-[#7a8050] transition-colors" style="color: #ffff;">
        下單或訂購
      </button>
      <span class="text-xl ml-4 text-[#5D9F68]">
        CTA: ins
      </span>
    </div>
  </div>
  <div class="mt-12">
    <div class="flex flex-col md:flex-row md:items-start space-y-4 md:space-y-0 md:space-x-6">
      <!-- 图片展示区域 -->
      <div class="w-452 h-452 mr-32">
        <img src="../../../../assets/images/order-img-11.png" alt="Floral Design" class="w-full h-full object-cover rounded-lg shadow-lg">
      </div>
      <!-- 文字描述区域 -->
      <div class="flex-1 flex flex-col justify-between">
        <div>
          <div class="text-2xl font-bold ">設計師款 Designer Style</div>
          <p class="mt-8 leading-8 text-lg text-justify">
            我們重新定義廢棄布料與花店之間的關係，以實踐環境友善的廢棄布料設計了海芋、小樹苗、小蒼蘭、桔梗花、鬱金香、康乃馨、玫瑰花、向日葵、小雛菊九種花束款式，讓您在選購禮品時，多一個環保的選擇！同時透過廢棄布料的使用，減少垃圾產出，降低對地球生態的負擔，將永續概念融入生活的魅力傳遞給大眾。
          </p>
        </div>
        <!-- 辅助图片列表 -->
        <div class="flex justify-start items-end space-x-6 md:mt-16 mt-6">
          <img src="../../../../assets/images/order-img-01.png" alt="Sub Image 1" class="w-171 h-171 object-cover">
          <img src="../../../../assets/images/order-img-03.png" alt="Sub Image 2" class="w-171 h-171 object-cover">
          <img src="../../../../assets/images/order-img-02.png" alt="Sub Image 3" class="w-171 h-171 object-cover">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20">
    <!-- 标题和描述区域 -->
    <div class="text-center mb-4 md:mb-0 md:text-left">
      <h2 class="text-2xl font-bold">設計師款 製作流程 Designer Style Production Process</h2>
    </div>
    <!-- 生产过程图示区域 -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-4">
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-12.png" alt="私訊我們預約客製時間及填寫表單" class="w-214 h-315 md:w-214 md:h-315 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-16.png" alt="箭頭1" class="w-20 h-100 md:w-20 md:h-100 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-13.png" alt="匯款！" class="w-258 h-370 md:w-258 md:h-370 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-17.png" alt="箭頭2" class="w-20 h-100 md:w-20 md:h-100 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-14.png" alt="寄出布料" class="w-289 h-415 md:w-289 md:h-415 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-18.png" alt="等待製作、出貨 & 到貨～" class="w-20 h-100 md:w-20 md:h-100 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-15.png" alt="完成" class="w-177 h-315 md:w-177 md:h-315 object-cover">
      </div>
    </div>
  </div>
  <div class="mt-20">
    <div class="font-bold text-2xl">
      客製款 購買須知 Customized Style Notice
    </div>
    <ul class="list-decimal list-inside space-y-2 text-lg leading-8 my-6">
      <li>¹ 客製化需提供清洗乾淨的衣物</li>
      <li>➔ 不能是貼身衣物、針織、彈性材質</li>
      <li>➔ 一朵花至少450 x 450mm</li>
      <li>➔ 需要在客製化時間的前三日寄出（寄件資訊會私訊跟您說！）</li>
      <li>² 試營運期間每人限購一朵小花（加購區不限）</li>
      <li>³ 運費為60元 限711出貨！</li>
      <li>⁴ 客製款僅包含布料提供及款式選擇，不含選擇布料對應的位子</li>
      <li>➔ 簡單來說就是布料寄給我們之後會幫你做顏色配置啦！請相信我們～</li>
      <li>⁵ 商品皆附包裝紙＋牛奶棉的基本包裝，也可另外加購升級成束口袋！</li>
      <li>⁶ 每件商品我們都會用心製作，但手作商品無法100％無瑕疵，完美主義者請三思！</li>
    </ul>
    <div class="mt-4 flex justify-left items-center">
      <button class="text-lg bg-[#838d52] px-4 py-2 rounded-2xl hover:bg-[#7a8050] transition-colors" style="color: #ffff;">
        預約客製款
      </button>
      <span class="text-xl ml-4 text-[#5D9F68]">
        CTA: ins
      </span>
    </div>
  </div>
  <div class="mt-20">
    <div>
      <div class="text-2xl font-bold ">價目表 Price List</div>
        <ul class="leading-4 text-xs text-justify">
          <li>*以下小花的顏色為示意圖，實際配色請私訊詢問</li>
          <li>*小花區的價格標示為設計師款，客製款則會再加 NT$ 100元</li>
          <li>*加購區與包裝區的價格適用於設計師款及客製款</li>
        </ul>
    </div>
    <p-tabView>
      <p-tabPanel header="小花區">
        <div class="flex flex-col md:flex-row md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-4">
          <div class="flex justify-center">
            <img src="../../../assets/images/order-img-20.png" alt="海芋 ➔ NT$ 280 元/朵" class="w-218 h-259 md:w-218 md:h-259 object-cover">
          </div>
          <div class="flex justify-center">
            <img src="../../../assets/images/order-img-21.png" alt="小樹苗 ➔ NT$ 280 元/支" class="w-218 h-259 md:w-218 md:h-259 object-cover">
          </div>
          <div class="flex justify-center">
            <img src="../../../assets/images/order-img-22.png" alt="小蒼蘭 ➔ NT$ 320 元/朵" class="w-218 h-259 md:w-218 md:h-259 object-cover">
          </div>
          <div class="flex justify-center">
            <img src="../../../assets/images/order-img-23.png" alt="桔梗花 ➔ NT$ 320 元/朵" class="w-218 h-259 md:w-218 md:h-259 object-cover">
          </div>
          <div class="flex justify-center">
            <img src="../../../assets/images/order-img-24.png" alt="鬱金香 ➔ NT$ 350 元/朵" class="w-218 h-259 md:w-218 md:h-259 object-cover">
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="加購區">
          <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
              ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
          </p>
      </p-tabPanel>
      <p-tabPanel header="包裝區">
          <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
              qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
          </p>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

