
<div>
  <app-splitmedia-text></app-splitmedia-text>
  <div class="mx-auto md:px-28 px-0">
    <!-- 标题和描述区域 -->
    <div class="text-center mb-4 md:mb-0 md:text-left">
      <h2 class="text-xl font-bold">設計師款製作流程</h2>
      <p>從廢棄物到設計師作品的旅程，每一個步驟都充滿著創意與靈感！</p>
    </div>

    <!-- 生产过程图示区域 -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-center space-y-4 md:space-y-0 md:space-x-4">
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-04.png" alt="原材料" class="w-24 h-24 md:w-32 md:h-32 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-05.png" alt="設計過程" class="w-24 h-24 md:w-32 md:h-32 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-06.png" alt="裁剪" class="w-24 h-24 md:w-32 md:h-32 object-cover">
      </div>
      <div class="flex justify-center">
        <img src="../../../assets/images/order-img-07.png" alt="完成" class="w-24 h-24 md:w-32 md:h-32 object-cover">
      </div>
</div>

